<div class="fullpage">
    <div class="notfound">
        <p class="pp"> Error 404 Not Found!</p>
        <p style="color: red;">A fatal exception 404 has occurred at C0DE:ABAD1DEA in 0xC0DEBA5E.</p>
        <p>The current request will be terminated.</p>
        <br />
        <p>* Press any key to return to the pvious page.</p>
        <p style="color: yellow;">* Press ALT+LEFT Arrow to restart your computer. You will</p>
        <br />
        <p>lose any unsaved information in all applications.</p>
        <p>Press any key to continue...</p>

        <nav>
            <a routerLink="/welcome">> go to welcome page.</a>
            <br>
            <a onclick="history.back()">> go back.</a>
        </nav>
    </div>
</div>